<template>
  <div style=" margin-left: 10%; margin-right: 10%">
    <landingPage v-if="show===true"></landingPage>
    <searcher v-if="show===false"></searcher>
	</div>
</template>


<script>
import {mapState} from "vuex";
import landingPage from "../components/landingPage"
import searcher from "../components/searcher";
	export default {

		data: () => ({
			var: null,
      mssgBTN: "Ver día anterior",
      show: true,
		}),

    components: {
      landingPage,
      searcher
    },

		created () {
		},

		computed: {
      ...mapState(["selectedCommune"])
		},

		methods: {
      changeBTN(){
        this.show = !this.show
        if (this.show === true){
          this.mssgBTN = "Ver día anterior"
        }
        else {
          this.mssgBTN = "Ver pronóstico de hoy"
        }
      }
		},
    watch: {
      selectedCommune: function(){
        if(this.selectedCommune == '') {
          this.show = true
        } else {
          this.show = false
        }
      }
    }

	}

</script>

