<template>
  <v-card
      class="mx-auto;"
      style="margin-top: 10%"
      elevation = 0
  > 
  <v-row>
    <v-col cols=6> 
      <v-row> 
        <v-col>       
          <p class="text-h4" style="color: #519EDC">
            Buscador constituyente
          </p>
          <div class="text--primary">
            ¿Aún no sabes por quién votar?.<br>
            Utiliza el buscador constituyente y no te quedes fuera de este proceso histórico.
          </div> 
        </v-col>
      </v-row>

      <v-row> 
        <v-col> 
          <v-img style="border-radius:15%"
            lazy-src="https://www.diarioconstitucional.cl/wp-content/uploads/2020/10/uai.jpg"
            src="https://www.diarioconstitucional.cl/wp-content/uploads/2020/10/uai.jpg"
          ></v-img>
        </v-col>
      </v-row>
    </v-col>

    <v-col cols=6 > 
      <div style="margin-top:30%; margin-left: 10%; margin-right: 10%"> 
        <h4 style="margin-bottom: 5%"> Seleccione la comuna en la que vota </h4>

        <v-autocomplete
          v-model="selectedCommune"
          :items="this.communesData"
          clearable
          color="blue-grey lighten-2"
          label="Elija una comuna"
          item-text="name"
          item-value="name"
        >
          <template v-slot:item="data">
            <template>
              <v-list-item-content>
                <v-list-item-title v-html="data.item.name"></v-list-item-title>
                <v-list-item-subtitle v-html="data.item.region"></v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </template>
        </v-autocomplete>
      <div style="margin-left:25%">
        <v-btn
          color="#519EDC"
          class="ma-2 white--text"
          @click="getCommune(selectedCommune)"
        >
          Entrar al buscador
          <v-icon
            right
            dark
          >
            mdi-account-search
          </v-icon>
        </v-btn>
      </div>
      </div>
    </v-col>
  </v-row>
  </v-card>
</template>

<script>
import {mapMutations, mapState} from "vuex";
import { comunas } from '../constants/comunas.js'
export default {
  name: "landingPage",
  data: () => ({
    communesData: comunas,
    selectedCommune: ''
  }),
  created () {
    
  },
  computed: {
    ...mapState(['district'])
  },

  methods: {
    ...mapMutations(["getCommune"]),
  },
  watch:{
  }
}
</script>