<template>
  <div>
    <v-row> 
      <v-col cols=2> 
        <p class="text-h4" style="margin-top:25%; color: #519EDC" >
          Buscador constituyente
        </p>
      </v-col>
      <v-col cols=1> 
        <div style="margin-top:90%; margin-left:10%">  
          <v-chip
            label
            color="red"
          >
          <span style="color:white"> Distrito: {{district}} </span>
          </v-chip>
        </div>       
      </v-col>
      <v-col cols=4>
        <div style="margin-top:17%; margin-left:0%">
          <v-autocomplete
            v-model="selectedCommune2"
            :items="this.communesData"
            clearable
            color="blue-grey lighten-2"
            label="Elija una comuna"
            item-text="name"
            item-value="name"
          >
            <template v-slot:item="data">
              <template>
                <v-list-item-content>
                  <v-list-item-title v-html="data.item.name"></v-list-item-title>
                  <v-list-item-subtitle v-html="data.item.region"></v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </template>
          </v-autocomplete>
        </div> 
      </v-col>
      <v-col>
              <div style="margin-left:0%; margin-top:12%">
        <v-btn
          color="#519EDC"
          class="ma-2 white--text"
          @click="getCommune(selectedCommune2)"
        >
          Cambiar comuna
          <v-icon
            right
            dark
          >
            mdi-account-search
          </v-icon>
        </v-btn>
      </div>
      </v-col>
    </v-row>
    
    <v-row> 
        <v-col cols=12> 
          <div style="margin-left:20%; margin-top: 5%; margin-right: 20%">

          <h4 style="margin-bottom: 5%"> Buscar por conceptos </h4>
          <v-combobox
            v-model="concepts"
            :items="conceptsData"
            :search-input.sync="search"
            hide-selected
            hint="Se sugieren no más de 10 conceptos o términos"
            label="Agregue algunos conceptos"
            multiple
            persistent-hint
            small-chips
            clearable
            outlined
            color="#519EDC"
            item-color="#519EDC"
          >
            <template v-slot:no-data>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    No hay resultados para: "<strong>{{ search }}</strong>". Presione <kbd>enter</kbd> para agregar este nuevo concepto a su búsqueda
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-combobox>
          <div style="margin-left:35%">
            <v-btn
              color="#519EDC"
              class="ma-2 white--text"
              @click="searchCandidates(concepts)"
            >
              ¡Busca tus candidatos!
              <v-icon
                right
                dark
              >
                mdi-account-search
              </v-icon>
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>

  <topCandidates v-if="show===true"></topCandidates>
  <allCandidates v-if="show===false"></allCandidates>

  </div>

</template>

<script>
import {mapMutations, mapState} from "vuex";
import { comunas } from '../constants/comunas.js'
import topCandidates from '../components/topCandidates.vue'
import allCandidates from '../components/allCandidates.vue'

export default {
  name: "timeline",

  components: {
      topCandidates,
      allCandidates
    },

  data: () => ({
    communesData: comunas,
    conceptsData: ['Feminismo', 'Progreso','Seguridad', 'Ambiente', 'Trabajo', 'Educación' , 'Economía' ], 
    concepts: '',
    avatarUrl: 'https://cdt.org/files/2015/10/2015-10-06-FB-person.png',
    topCandidates: {candidate_1: {"conceptos": [{nombre:'Feminismo', icono: 'mdi-human-female-female'}, {nombre:'Progreso', icono: 'mdi-robot-industrial' }], "region": "Arica", "distrito": "1", "papeleta": "WE1", "nombre": "Milene Molina", "lista": "Sumate Ahora", "partido": "IND", "programa": "PROGRAMA CANDIDATURA INDEPENDIENTE A CONSTITUYENTE\n \n \nPOR DISTRITO 1 REGIÓN DE ARICA Y PARINACOTA\n \n \n \nCandidata \nIndependi\nente: Milene Rossina Molina Arancibia \n \n \n \nContenidos:\n \n \n \nPrincipios Rectores:\n \nTrabajar\n \nen conjunto con la ciudadanía de la región de Arica y Parinacota para \nrecoger los intereses y demandas que consideran deberían estar plasmados en la constitución \nchilena.\n \n \nDebemos realizar todas las acciones necesarias para lograr una gran participación c\niudadana ya \nsea a través de cabildos u otro tipo de formas participativas. \n \n \nDebemos trabajar de manera responsable en estudiar las situaciones de violencia extrema que \nviven las mujeres para crear los mejores medios de protección y cuidado de las mujeres,\n \nniñas y \nadolescentes.\n \n \nLa nueva constitución debe \nvelar por la protección de las niñas y niños creando una \ninstitucionalidad efectiva con un trabajo a largo \nplazo.\n \n \nTrabajar en la creación de industrias necesarias para tener un mayor y mejor aprovechamiento de \nla explotación de los recursos naturales evit\nando que la riqueza del país sea entregada a mercados \nextranjeros.\n \n \nD\nebemos extremar esfuerzos\n \npara garantizar la incorporación \ndel\n \nreconocimiento constituci\nonal \nde los pueblos indígenas \nde Chile y del pueblo tribal afrodescendiente chileno. Que la carta m\nagna \nreconozca la div\nersidad cultural de Chile y se comprometa a proteger y resguardar las culturas que \nse encuentran en el territorio chileno.\n \n \nDebemos garantizar en la nueva constitución la protección del medio ambie\nnte y de los recursos \nnaturales.\n \nT\nerminar con las zonas de sacrificio y poner en prim\ner lugar a las personas asegurando que \npuedan vivir\n \nen un espacio libre de contaminación.\n \n \nQue el patrimonio cultural y natural, esté reconocido como un bien público.\n \n \nDebemos poner en el centro el buen vivir o vivir \nbien y\n \nrealizar todos los esfuerzos necesarios para \nque esto se cumpla.\n \nLa construcción de esta nueva carta magna debe ser bajo un sistema \nque asegure la Participación \nde la mayoría de las personas que habit\nan el territorio chileno, poniendo un mayor énfasis en los \nsectores alejados al centro y la urbe.  \n \n \n"}, 
                    candidate_2:{}, 
                    candidate_3:{}},
    show: true,
    search:null,
    selectedCommune2: "",

  }),
  created() {
    this.selectedCommune2 = this.selectedCommune
  },
  computed: {
    ...mapState(["selectedCommune","district"]),
  },
   methods: {
    ...mapMutations(["getCommune"]),
    searchCandidates(concepts){
      this.show = false
      this.$store.dispatch("getCandidates", {"district": this.district,"words": concepts});
    },
   },
   watch:{
     district: function(){
        this.$store.dispatch("getTop3Candidates", {"district": this.district});
     }
   }
}
</script>

<style scoped>

</style>